
C++/.vs/C++/v17/Browse.VC.opendb
C++/.vs/C++/v17/Browse.VC.db-wal
C++/.vs/C++/v17/Browse.VC.db-shm
C++/.vs/C++/v17/Browse.VC.db
C++/.vs/C++/v17/.suo
C++/.vs/C++/FileContentIndex/read.lock
C++/.vs/C++/FileContentIndex/f04e9755-9127-4c2d-a52a-14686ae69eee.vsidx
C++/.vs/C++/FileContentIndex/0cc43809-a251-4128-8766-0f9900381853.vsidx
*.vsidx
*.ipch
*.vcxproj
*.filters
*.filters
*.tlog
*.pdb
*.idb
*.recipe
*.exe
*.obj
*.ilk
*.log
C++/x64/Debug/C++.vcxproj.FileListAbsolute.txt
*.json
C++/C++.vcxproj.filters
C++/C++.vcxproj
