html {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    font-size: 13px;
    color:rgba(0,0,0,0.87);
    font-family: Arial, sans-serif;
}

a:hover {
    text-decoration: underline;
}
p {
    font-family: Arial, sans-serif;
}


/*Topo*/ 
#nav {
    display: grid;
    grid-template-columns: 1fr 50px 64.86px 45px 109.625px 30px;
    grid-template-rows: 30px;
    grid-template-areas: ". gmail imagens apps login .";
    font-weight: 500;
}


#gmail, #imagens, #login {
    justify-self: end;
    align-self: center;
    font-size: 13px; 
}

#gmail {
    grid-area: gmail;
}

#imagens {
    grid-area: imagens;
}

#apps {
    padding: 7px;
    grid-area: apps;
    justify-self: end;
    align-self: center;
    opacity: .55;
    margin-left: 2.3px;
    margin-top: 1.3px;
}

#apps:hover {
    opacity: 100%
}

#login {
    grid-area: login;
    border: 1px solid #4285f4;
    border-radius: 2px;
    padding: 0px 12px;
    background-color:rgb(66, 133, 244);
    width: 68.625;
    line-height: 28px;
    color: white;
    font-weight: 700;
    margin-bottom: 2px;
}


/*Meio*/
#meio {
    display: grid;
    font-family: Arial, sans-serif;
    padding-top: 106px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 92px 44px 70px;
    grid-template-areas: 
    ". logo ."
    ". conteinerbarra ."
    ". botoes .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
    margin-top: 9px;
}

#conteinerbarra {
    width: 576px;
    height: 44px;
    grid-area: conteinerbarra;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 14px 20px 13px 1fr 8px 24px 8px 8px 24px 8px 8px;
    grid-template-areas: 
    ". lupa . . . teclado . . voz . .";
}

#barra {
    width: 455px;
    height: 42px;
    margin-top: 30px;
    padding-left: 47px;
    padding-right: 80px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    outline: none;
    position: fixed;
    background-color: transparent;
}

#barra:focus, #barra:active, #barra:hover {
    border-color: white;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    
}

#lupa, #teclado, #voz {
    margin-top: 41px;
    align-self: center;
    justify-self: center;
}

#lupa {
    grid-area: lupa;
    fill: rgb(154, 160, 166);
}

#teclado {
    grid-area: teclado;
}

#voz {
    grid-area: voz;
}

#botoes {
    grid-area: botoes;
    justify-self: center;
    align-self: center;
    margin-top: 90px;
}

.botao {
    cursor: pointer;
    color: #3c4043;
    font-size: 14px;
    border-color: white;
    line-height: 34px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin: 11px 4px; 
    padding: 0px 16px;
}

.botao:hover {
    border-color: rgb(198, 198, 198);
}

.botao:focus {
    border: 1px solid #4d90fe;
}

#pesquisa {
    grid-area: pesquisa;
    justify-self: center;
    align-self: center;
}

#sorte {
    grid-area: sorte;
    justify-self: center;
    align-self: center;
    font-size: 13px;    
}

#disp {
    grid-area: disp;
    justify-self: center;
    align-self: center;
}

#idioma {
    color: rgb(26, 13, 171);
    cursor: pointer;
}

/*Rodapé*/
#rodape {
    color:rgba(0, 0, 0, 0.54);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    display: grid;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    grid-template-columns: 30px 72.4px 85.38px 64.36px 194.33px 1fr 100.16px 72.91px 117.28px 30px;
    grid-template-rows: 42px 40px;
    grid-template-areas:
    "brasil brasil brasil brasil brasil brasil brasil brasil brasil brasil"
    ". publicidade negocios sobre pesquisa2 . privacidade termos config .";
    }

#brasil {
    color:rgba(0,0,0,.54);
    font-size: 15px;
    grid-area: brasil;
    justify-self: start;
    line-height: 40px;
    width: 100%;
    padding-left: 30px;
    font-weight: lighter;
    border-top: solid 1px rgb(218, 220, 224);
    border-bottom: solid 1px rgb(218, 220, 224);
    overflow: hidden;
}

#rodape a{
    line-height: 40px;
    justify-self: end;
    color: #70757a;
    font-weight: 500;
    font-size: 14px;
}
#publicidade {
    grid-area: publicidade;
}
#negocios {
    grid-area: negocios;
}  
#sobre {
    grid-area: sobre;
}
#pesquisa2 {
    grid-area: pesquisa2;
}
#privacidade {
    grid-area: privacidade;
}
#termos {
    grid-area: termos;
}
#config {
    grid-area: config;
}
